/* https://codepen.io/ni-kun/pen/jWKWom */
/* general styles */
 body {
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 14px;
     line-height: 1.42857143;
}
 canvas {
     padding-left: 0;
     padding-right: 0;
     margin-left: auto;
     margin-right: auto;
     display: block;
}
 #container {
     margin-top: 50px;
     text-align: center;
}
/* stats */
 * {
     color: white;
     background-color: black;
}
 